/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

html {
  font-size: 62.5%;
}

h1,
h2 {
  color: black;
}

h1 {
  font-size: 6.2rem;
  text-align: center;
}

hr {
  border: 1px solid black;
}

li {
  list-style: square inside none;
  display: list-item;
  margin-top: 12px;
}

.container {
  width: 920px;
  padding: 15px 50px;
  margin: 0 auto;
  line-height: 1.1;
  color: black;
  font-size: 1.5rem;
}

.box {
  margin: 25px 0;
  vertical-align: top;
}

.shaded {
  margin: 20px 0;
  padding: 20px;
  background-color: lavender;
  border: 1px solid grey;
  color: black;
}

.half-box {
  width: 48%;
}

.third-box {
  width: 30%;
  min-width: 250px;
}

.box-btn {
  padding: 5px 20px;
  background: white;
  border: 1px solid grey;
  border-radius: 5px;
}

.menu-box,
nav,
.hero-box,
section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}

nav {
  width: 675px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: lightgrey;
  font-size: 1.6rem;
  padding: 5px 0;
  border: 1px solid transparent;
}

nav a:hover {
  font-weight: bold;
  color: black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.logo {
  vertical-align: top;
}

.hero-box {
  margin: 50px 0;
  align-items: center;
}

.innovation {
  width: 60%;
  text-align: center;
}

.hero-button {
  padding: 7px 35px;
  border: 1px solid black;
  background-color: white;
  font-size: 1.6rem;
}

.hero-button:hover {
  border: 1px solid black;
}

.hero-img {
  width: 39%;
  height: auto;
  vertical-align: top;
}

/* Midsection */
.features,
.about {
  width: 49.5%;
}

.services,
.product,
.vision {
  width: 33%;
}

.middle-img {
  display: block;
  width: 100%;
}

/* Footer area */
.contact p {
  padding: 10px 0;
}

.copyright {
  text-align: center;
  padding: 0 0 10px;
}

small {
  font-size: 1.3rem;
}

.services-page p {
  margin-bottom: 15px;
}

.services-header-img {
  margin-top: 20px;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
  }

  .menu-box {
    flex-direction: column-reverse;
    width: 100%;
  }

  nav {
    justify-content: space-between;
    width: 100%;
  }

  .logo {
    margin: 0 auto;
    padding-bottom: 20px;
    display: block;
  }

  .hero-header, .innovation {
    width: 100%;
  }

  .hero-box {
    width: 100%;
  }

  .hero-img {
    display: none;
  }

  .third-box {
    width: 33%;
  }
}

@media screen and (max-width: 500px) {
 
}